.ICP-box{
    z-index: 999;
    font-size: 12px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    clear: both;
    text-align: center;
}
.ICP{
    color: #000000;
}