<img src="../assets/026fdca2f76a3fcf91a4f9160b5ef7f7.jpg" class="background">
<div class="wrapper">
<div class="top-nav-box" style="top:0;">
    <div class="top-nav-left-box">
        <div class="top-nav-title-box">
            <div class="top-nav-title-content">
                只是一个写东西的地方
            </div>
        </div>
        <div class="top-nav-route-main-box">
            <!-- <div class="top-nav-route-content" (click)="ToMain()">
                主页
            </div> -->
            <div class="top-nav-route-content" (click)="ToBlogEssay()">
                日志
            </div>
            <div class="top-nav-route-content" (click)="ToGameEssay()" *ngIf="Role>5">
                测评
            </div>
            <!-- <div class="top-nav-route-content" (click)="ToDance()">
                舞蹈
            </div> -->
            <div class="top-nav-route-content" (click)="ToDrawing()" *ngIf="Role>5">
                摸鱼
            </div>
            <div class="top-nav-route-content" (click)="ToSentence()" *ngIf="Role>5">
                随笔
            </div>
            <div class="top-nav-route-content" (click)="ToTest()">
                测试
            </div>
        </div>
    </div>
    <div class="top-nav-right-box">
        <div class="top-nav-button-box">
            <button type="button"  class="top-nav-button" (click)="ChangeUserBox()" *ngIf="Role>5">修改资料</button>
            <button type="button"  class="top-nav-button" (click)="ChangeLoginBox()" *ngIf="Role==0">主人登录</button>
            <button type="button"  class="top-nav-button" (click)="LogOut()" *ngIf="Role>5">退出</button>
        </div>
    </div>

</div>
<div class="main-content">
    <router-outlet></router-outlet> 
    <div class="open-box">
        <!-- <a class="ICP" href="http://www.miitbeian.gov.cn">粤ICP备19024727号-1</a> -->
    </div>
    <div class="footer">
    </div>
</div>
<div class="login-main-box" [@LoginEnterLeave]="IsShowLoginBox?'open':'closed'">
    <div class="login-icon-box">
        <img class="login-back-icon" src="../assets/YDUI-前进.png" (click)="HideLoginBox()">
    </div>
    <div class="login-box">
        <label class="login-title">是时候了</label>
        <div class="login-div">
            <label class="login-label">账号</label>
            <input type="text" class="login-input" [(ngModel)]="LoginAccount">
        </div>
        <div class="login-div">
            <label class="login-label">密码</label>
            <input type="text" class="login-input" [(ngModel)]="LoginPassword">
        </div>
        <button type="button" class="login-button" (click)="Login()">登录</button>
    </div>
</div>
<div class="user-main-box" [@UserEnterLeave]="IsShowUserBox?'open':'closed'">
    <div class="user-icon-box">
        <img class="user-back-icon" src="../assets/YDUI-前进.png" (click)="HideUserBox()">
    </div>
        <div class="user-box">
        <div class="user-div">
            <label class="user-label">名字</label>
            <input type="text" class="user-input" [(ngModel)]="this.UserData.name">
        </div>
        <div class="cover">
            <button type="button" class="user-write-button" (click)="IsChangeCover()">上传头像</button>
            <img-cropper #cropper [image]="data" [settings]="cropperSettings" *ngIf="ChangeCover"></img-cropper><br>
            <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight" *ngIf="OpenCover">
            <button type="button" class="user-write-button" (click)="ChangeCoverOK()" *ngIf="ChangeCover">确认</button>
            <button type="button" class="user-write-button" (click)="ChangeCoverCancel()" *ngIf="ChangeCover">取消</button>
        </div>
        <div class="user-div">
            <label class="user-label">信息</label>
            <input type="text" class="user-input" [(ngModel)]="this.UserData.info">
        </div>
        <button type="button" class="user-button" (click)="UpdateUserData()">修改</button>
    </div>
</div>
<div *ngIf="ShowUserData(this.router)" class="user-data-box">
    <div class="user-data">
        <div class="user-data-headpicture">
            <img src={{this.UserHeadpicture}} style="width:100px;height:100px;">
        </div>
        <div class="user-data-name">
            {{this.UserName}}
        </div>
        <div class="user-data-info" *ngFor="let info of UserInfoArray">
            {{info}}
        </div>
    </div>
</div>
<div class="push"></div>
</div>
<div class="ICP-box">
    <a class="ICP" href="http://www.beian.miit.gov.cn">粤ICP备19024727号</a>
</div>


