<div class="main-box">
        <div class="content-box">
            <a><div class="back-icon-box" [routerLink]="['/showblogessay']"  [queryParams] = "{CurrentPage:this.ToBackList()}">
                <img class="back-icon" src="../../../assets/返回.png">
            </div></a>
            <div class="title-box">
                {{this.BlogEssayInfo.title}}
            </div>
            <div class="data-box">
                {{this.BlogEssayInfo.time| date:'yyyy/MM/dd HH:mm:ss'}}
                <span class="divider">|</span>
                {{this.BlogEssayInfo.tag}}
            </div>
            <div class="content-box">
                <div [innerHTML]="this.BlogEssayInfo.content">
            </div>
        </div>
    </div>